[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-script = "*"
flask-restx = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
